@model DataLayer.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listReview = (List<DataLayer.ViewModel.ReviewModel>)ViewBag.ListReview;
}
@section jsFooter{
    <script src="/assests/client/js/controller/productController.js"></script>
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> / <a href="/san-pham/@Model.Slug-@Model.ID">@Model.ProductName</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container" style="overflow: hidden; position: relative; display: block;">
                                    <div class="slides_control" style="position: relative; width: 1048px; height: 274px; left: -366px;">
                                        <a href="#"><img src="@Model.Image" alt=" "></a>

                                    </div>

                                </div>

                                @* <ul class="pagination" style="display:inline-flex;margin:10px 0 10px 0">
                                        <li style="margin-right:10px" class=""><a href="#0"><img src="/assests/client/images/thumbnailslide-1.jpg" alt=" "></a></li>
                                        <li style="margin-right:10px" class=""><a href="#1"><img src="/assests/client/images/thumbnailslide-2.jpg" alt=" "></a></li>
                                        <li style="margin-right:10px" class=""><a href="#2"><img src="/assests/client/images/thumbnailslide-3.jpg" alt=" "></a></li>
                                        <li style="margin-right:10px" class=""><a href="#3"><img src="/assests/client/images/thumbnailslide-4.jpg" alt=" "></a></li>
                                        <li style="margin-right:10px" class=""><a href="#4"><img src="/assests/client/images/thumbnailslide-5.jpg" alt=" "></a></li>

                                    </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.ProductName </h2>
                    <p>@Model.Detail</p>
                    <div class="price">
                        <p>Price: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")</span></p>
                    </div>
                    <div class="available">
                        <p>Available Options :</p>
                        <ul>
                            <li>
                                Color:
                                <select>
                                    <option>Silver</option>
                                    <option>Black</option>
                                    <option>Dark Black</option>
                                    <option>Red</option>
                                </select>
                            </li>
                            <li>
                                Size:<select>
                                    <option>Large</option>
                                    <option>Medium</option>
                                    <option>small</option>
                                    <option>Large</option>
                                    <option>small</option>
                                </select>
                            </li>
                            <li>
                                Quality:<select>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="share-desc">
                        <div class="share">
                            <p>Chia sẻ:</p>
                            <ul>
                                <li><a href="#"><img src="/assests/client/images/facebook.png" alt="" /></a></li>
                                <li><a href="#"><img src="/assests/client/images/twitter.png" alt="" /></a></li>
                            </ul>
                        </div>
                        <div class="add-cart"><span><a class="button " href="/add-Order?productId=@Model.ID" style="text-decoration:none">Add to Order</a></span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="/add-Order?productId=@Model.ID" style="text-decoration:none;color:red">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#" style="text-decoration:none;color:red">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li style="color:red">All Review</li>

                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div id="div_allreview">
                            @foreach (var itemcomment in listReview)
                            {
                                if (itemcomment.ParentID == 0 && itemcomment.Status == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="comments-list">
                                                <div class="media">
                                                    <p class="pull-right"><small>@(itemcomment.CreateAt == null ? "" : itemcomment.CreateAt.Value.ToString("dd/MM/yyyy"))</small></p>
                                                    <a class="nav-link dropdown-toggle" role="button"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        <img class="img-profile rounded-circle"
                                                             src="~/assests/admin/img/undraw_profile.svg" height="30px" width="30px">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading user_name">@itemcomment.UserName</h4>
                                                        <span style="font-size:35px;color:black">@itemcomment.Title</span>
                                                        <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="review">
                            <ul>
                                <li>Price :<a href="#"><img src="/assests/client/images/price-rating.png" alt="" /></a></li>
                                <li>Value :<a href="#"><img src="/assests/client/images/value-rating.png" alt="" /></a></li>
                                <li>Quality :<a href="#"><img src="/assests/client/images/quality-rating.png" alt="" /></a></li>
                            </ul>
                            <div class="your-review">
                                <h3>How Do You Rate This Product?</h3>
                                <p>Write Your Own Review?</p>
                                <form>
                                    <div>
                                        <span><label>Nickname<span class="red">*</span></label></span>
                                        <span><input id="txtnickname" type="text" value=""></span>
                                    </div>
                                    <div>
                                        <span><label>Summary of Your Review<span class="red">*</span></label></span>
                                        <span><input type="text" value=""></span>
                                    </div>
                                    <select id="ddlRate" class="form-selectd">
                                        <option value="5">★★★★★</option>
                                        <option value="4">★★★★☆</option>
                                        <option value="3">★★★☆☆</option>
                                        <option value="2">★★☆☆☆</option>
                                        <option value="1">★☆☆☆☆</option>
                                    </select>
                                    <div>
                                        <span><label>Review<span class="red">*</span></label></span>
                                        <span><input type="text" id="txtReviewNew"> </input></span>
                                    </div>

                                    <button id="btnReviewNew" data-productid="@Model.ID" data-userid="@ViewBag.UserID">Review</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

