@model DataLayer.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listReview = (List<DataLayer.ViewModel.ReviewModel>)ViewBag.ListReview;
    var listColor = (List<DataLayer.EF.Product>)ViewBag.ListColor;
    var listSize = (List<DataLayer.EF.Product>)ViewBag.ListSize;
}
@section jsFooter{
    <script src="/assests/client/js/controller/productController.js"></script>
}

<div class="content">
    <div class="content_top">
        <div class="back-links">
            <p><a href="/">Trang chủ</a> / <a href="/san-pham/@Model.Slug-@Model.ID">@Model.ProductName</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        <div class="cont-desc span_1_of_2">
            <div class="product-details">
                <div class="grid images_3_of_2">
                    <div id="container">
                        <div id="products_example">
                            <div id="products">
                                <div class="slides_container" style="overflow: hidden; position: relative; display: block;">
                                    <div class="slides_control" style="position: relative; width: 1048px; height: 274px; left: -366px;">
                                        <a href="#"><img src="@Model.Image" alt=" " style="width:380px;height:310px"></a>
                                    </div>

                                </div>

                                <ul class="pagination" style="display:inline-flex;margin:10px 0 10px 0">
                                    <li style="margin-right:10px" class=""><a href="#0"><img src="@Model.Image" alt=" "></a></li>
                                    <li style="margin-right:10px" class=""><a href="#0"><img src="@Model.Image" alt=" "></a></li>
                                    <li style="margin-right:10px" class=""><a href="#0"><img src="@Model.Image" alt=" "></a></li>
                                    <li style="margin-right:10px" class=""><a href="#0"><img src="@Model.Image" alt=" "></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc span_3_of_2">
                    <h2>@Model.ProductName </h2>
                    <div class="price">
                        <p>Giá: <span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")đ</span></p>
                    </div>
                    <div class="price">
                        <p>Số lượng: <span>@Model.Count</span></p>
                    </div>
                    <div class="price">
                        <p>
                            Nhà cung cấp:

                            @if (Model.SupplierID == 1)
                            {
                                <span>
                                    Teelab
                                </span>
                            }
                            else if (Model.SupplierID == 2)
                            {
                                <span>
                                    Bad Habits
                                </span>
                            }
                            else
                            {
                                <span> ClownZ</span>
                            }

                        </p>
                    </div>
                    @using (Html.BeginForm("Order", "Home", FormMethod.Get))
                    {
                        <form>
                            <input name="productID" value="@Model.ID" hidden />
                            <input name="productName" value="@Model.ProductName" hidden />
                            <div class="available">
                                <p>Lựa chọn :</p>
                                <ul>
                                    <li>
                                        Color:
                                        <select name="color">

                                            @for (int i = 0; i < listColor.Count; i++)
                                            {
                                                if (i == 0)
                                                {
                                                    <option value="@listColor[0].Color">@listColor[0].Color</option>
                                                    continue;
                                                }
                                                for (int j = 0; j < i; j++)
                                                {
                                                    if (listColor[i].Color != listColor[j].Color && listColor[i].Color != null)
                                                    {
                                                        <option value="@listColor[i].Color">@listColor[i].Color</option>
                                                    }
                                                }
                                            }

                                        </select>
                                    </li>
                                    <li>
                                        Size:
                                        <select name="size">
                                            @for (int i = 0; i < listSize.Count; i++)
                                            {
                                                if (i == 0)
                                                {
                                                    <option value="@listSize[0].Size">@listSize[0].Size</option>
                                                    continue;
                                                }
                                                for (int j = 0; j < i; j++)
                                                {
                                                    if (listSize[i].Size != listSize[j].Size && listSize[i].Size != null)
                                                    {
                                                        <option value="@listSize[i].Size">@listSize[i].Size</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="share-desc">
                                <div class="share">
                                    <p>Chia sẻ:</p>
                                    <ul>
                                        <li><a href="#"><img src="/assests/client/images/facebook.png" alt="" /></a></li>
                                        <li><a href="#"><img src="/assests/client/images/twitter.png" alt="" /></a></li>
                                    </ul>
                                </div>
                                <div class="add-cart"><span><input type="submit" class="button" style="text-decoration:none" value="Thêm vào giỏ hàng"></span></div>
                                <div class="clear"></div>
                            </div>
                        </form>
                    }
                    <div class="wish-list">
                        <ul>
                            <li class="wish"><a href="/add-Order?productId=@Model.ID" style="text-decoration:none;color:red">Thêm vào yêu thích</a></li>
                            <li class="compare"><a href="#" style="text-decoration:none;color:red">So sánh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <h2>Mô tả chi tiết</h2>
            @Html.Raw(Model.Detail)
            <div class="product_desc">
                <div id="horizontalTab">
                    <ul class="resp-tabs-list">
                        <li style="color:red">Bình luận</li>

                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container">
                        <div id="div_allreview">
                            @foreach (var itemcomment in listReview)
                            {
                                if (itemcomment.ParentID == 0 && itemcomment.Status == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="comments-list">
                                                <div class="media">
                                                    <p class="pull-right"><small>@(itemcomment.CreateAt == null ? "" : itemcomment.CreateAt.Value.ToString("dd/MM/yyyy"))</small></p>
                                                    <a class="nav-link dropdown-toggle" role="button"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        <img class="img-profile rounded-circle"
                                                             src="~/assests/admin/img/undraw_profile.svg" height="30px" width="30px">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading user_name">@itemcomment.UserName</h4>
                                                        <span style="font-size:35px;color:black">@itemcomment.Title</span>
                                                        <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="review">
                            <div class="your-review">
                                <form>

                                    <div>
                                        <span><label>Review<span class="red">*</span></label></span>
                                        <span><input type="text" id="txtReviewNew"> </input></span>
                                    </div>

                                    <button id="btnReviewNew" data-productid="@Model.ID" data-userid="@ViewBag.UserID">Review</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


